<div>
  <div
    id="pendingTasks"
    cdkDropList
    [cdkDropListData]="pendingTasks"
    [cdkDropListConnectedTo]="pendingTasksConnectedTo"
    cdkDropListSortingDisabled
    class="c-usersGrid__pendingTasksList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="noReturnPredicate"
  >
    <div
      class="c-usersGrid__task"
      *ngFor="let task of pendingTasks"
      [cdkDragData]="task"
      cdkDrag
    >
      {{ task.name }}
    </div>
  </div>
</div>
<table class="c-usersGrid__table">
  <thead>
    <tr>
      <th>Volunters</th>
      <th>Area</th>
      <th>08-09</th>
      <th>09-10</th>
      <th>10-11</th>
      <th>11-12</th>
      <th>12-13</th>
      <th>13-14</th>
      <th>14-15</th>
      <th>15-16</th>
      <th>16-17</th>
      <th>17-18</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td class="c-usersGrid__cell c-usersGrid__userName">{{ user.name }}</td>
      <td class="c-usersGrid__cell c-usersGrid__area">{{ user.areas }}</td>
      <td colspan="10">
        <div
          id="{{ user.id }}_userTasks"
          cdkDropList
          [cdkDropListData]="user.tasks"
          [cdkDropListConnectedTo]="pendingTasksConnectedTo"
          class="c-usersGrid__userTasksList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="evenPredicate"
        >
          <div
            class="c-usersGrid__task c-usersGrid__task--userTask"
            *ngFor="let task of user.tasks"
            cdkDrag
            [cdkDragData]="task"
            [style.left]="taskLeftPosition(task)"
            [style.width]="taskWidth(task)"
          >
            {{ task.name }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
