<section class="c-userTaskGrid__header">
  <date-navigator class="c-userTaskGrid__dateNavigator"></date-navigator>
  <div class="c-userTaskGrid__filters">
    <text-filter
      class="c-userTaskGrid__filterName"
      (filterChanged)="volunteerNameFilterChanged($event)"
    ></text-filter>
    <dropdown-filter
      (valueSelected)="groupNameFilterChanged($event)"
      [selectList]="groupSelectList"
    ></dropdown-filter>
  </div>
  <div class="c-userTaskGrid__pendingTasks">
    <label class="c-userTaskGrid__pendingTasksListLabel">Pending Tasks</label>
    <div
      id="pendingTasks"
      class="c-userTaskGrid__pendingTasksList"
      cdkDropList
      [cdkDropListData]="pendingTimelineItems"
      [cdkDropListConnectedTo]="gridItemsConnectedTo"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="c-userTaskGrid__gridItem c-userTaskGrid__gridItem--pending"
        *ngFor="let pendingItem of pendingTimelineItems"
        [cdkDragData]="pendingItem"
        cdkDrag
      >
        {{ pendingItem.name }}
      </div>
    </div>
  </div>
</section>
<table class="c-userTaskGrid__table">
  <thead>
    <tr>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">
        Volunters
      </th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">Area</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">08-09</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">09-10</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">10-11</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">11-12</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">12-13</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">13-14</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">14-15</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">15-16</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">16-17</th>
      <th class="c-userTaskGrid__cell c-userTaskGrid__cell--header">17-18</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let gridItem of gridItems
          | filter: 'name,email':nameFilterValue
          | filter: 'groups':groupFilterValue
          | orderBy: 'groups,name':'asc'
      "
    >
      <td class="c-userTaskGrid__cell c-userTaskGrid__cell--userName">
        {{ gridItem.name }}
      </td>
      <td class="c-userTaskGrid__cell c-userTaskGrid__cell--area">
        {{ gridItem.areas }}
      </td>
      <td
        class="c-userTaskGrid__cell c-userTaskGrid__cell--timeLine"
        colspan="10"
      >
        <div
          id="{{ gridItem.name }}_gridItems"
          class="c-userTaskGrid__gridItemsList"
          cdkDropList
          [cdkDropListData]="gridItem.gridTimelineItems"
          [cdkDropListConnectedTo]="gridItemsConnectedTo"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let gridTimelineItem of gridItem.gridTimelineItems"
            [ngStyle]="getGridItemStyles(gridTimelineItem)"
            [ngClass]="{
              'c-userTaskGrid__gridItem--timeGap':
                gridTimelineItem.type === GridItemType.timeGap
            }"
            class="c-userTaskGrid__gridItem c-userTaskGrid__gridItem--user"
            cdkDrag
            [cdkDragData]="gridTimelineItem"
            [cdkDragDisabled]="
              gridTimelineItem.type === GridItemType.timeGap ? '' : null
            "
          >
            {{ gridTimelineItem.name }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
